
<section class="bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative">
        <div class="bg-[url('../public/home.png')] bg-contain bg-no-repeat bg-center min-h-screen w-full"></div>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-200">La frescura en tu puerta, tu ropa limpia, al mover un dedo. Lavandería a domicilio: así de fácil, así de impecable.</p>
    </div>

    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 z-10 relative">
        <div class="text-center mb-9">
            <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Agenda</span> un  servicio.</h1>
            <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Déjanos tus datos y nuestros expertos en limpieza se pondrán en contacto contigo para agendar la recolección de tus prendas.</p>
        </div>

        <form 
            class="max-w-md mx-auto"
            [formGroup]="servicioFormControl"
            (ngSubmit)="onSubmit()"
            (change)="onChange()"
            >
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" formControlName="nombre" name="nombre" id="nombre" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="nombre" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre completo</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="email" formControlName="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Correo electrónico</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="number" formControlName="telefono" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="telefono" id="telefono" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="telefono" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Número celular</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" formControlName="direccion" name="direccion" id="direccion" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="direccion" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Dirección de recolección</label>
            </div>
            <!--<label for="tipoRopa" class="block mb-2 mt-4 text-sm font-medium text-gray-900 dark:text-white">Que tipo de ropa le gustaria que lavaramos?</label>
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700">
                    <input checked id="rVes" type="checkbox" value="" name="bordered-checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="rVes" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ropa de Vestir</label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700">
                    <input id="rCam" type="checkbox" value="" name="bordered-checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="rCam" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ropa de Cama</label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700">
                    <input id="toallas" type="checkbox" value="" name="bordered-checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="toallas" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Toallas</label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700">
                    <input id="rOt" type="checkbox" value="" name="bordered-checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="rOt" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Otros</label>
                </div>
            </div>-->
            <label for="frecuencia" class="block mb-2 mt-4 text-sm font-medium text-gray-900 dark:text-white">¿Con qué frecuencia usa servicios de lavandería?</label>
            <select name="frecuencia" formControlName="frecuencia" id="frecuencia" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <option>Diariamente</option>
                <option>Cada tercer día</option>
                <option>Semanalmente</option>
                <option>Mensualmente</option>
            </select>
            <!--<label for="speed" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white mt-4">Le interesa el servicio de entrega el mismo dia?</label>
            <div class="grid md:grid-cols-2 md:gap-6">
                <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700">
                    <input checked id="mDs" type="radio" value="" name="bordered-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="mDs" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Si</label>
                </div>
                <div class="flex items-center ps-4 border border-gray-200 rounded-sm dark:border-gray-700">
                    <input id="mDn" type="radio" value="" name="bordered-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="mDn" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">No</label>
                </div>
            </div>-->
            <label for="bordered-radio-1" class="block mb-2 mt-4 text-sm font-medium text-gray-900 dark:text-white">¿Te gustaría recibir promociones?</label>
            <div>
                <label class="inline-flex items-center cursor-pointer" for="notificaciones">
                    <input id="notificaciones" name="notificaciones" type="checkbox" value="" class="sr-only peer" checked>
                    <div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"></div>
                    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Recibir notificaciones</span>
                </label>
            </div>
            <button type="submit" class="mt-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>
    </div>
    
    <div class="bg-gradient-to-b from-blue-50 to-transparent dark:from-blue-900 w-full h-full absolute top-0 left-0 z-0"></div>
</section>


